# Copiez ce fichier en .env.local pour le développement,
# et déclarez les mêmes variables dans les "Environment Variables" du projet Vercel.

VITE_SUPABASE_URL=https://spgxhlhzlhwoezxmybiv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_vxBrdKZi-wg6Gzz7xtqZ2w_UoAImkH6
